p {
  margin: 0;
  padding: 0;
  text-align: justify;
}

.cardPost {
  margin: 10px 0;
  padding: 5px 10px;
  border: 1px solid green;
  box-shadow: 0 0 20px rgba(32,75,105,0.7);
}

button {
  width: 100%;
  height: 35px;
}

input {
  width: 40%;
  height: 24px;
  padding-left: 5px;
}

select {
  width: auto;
  height: 30px;
}

.center {
  text-align: center;
}